:root {
  --white: #e8e8e8;
  --grey: #cecece;
  --black: #222222;
  --yellow: #cfa231;

  --light-green: #90ee90;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  background: var(--white);
}

::selection {
  color: var(--white);
  background-color: var(--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

a,
p,
span,
label,
input {
}

button {
  padding: 20px 30px;
  /* color: var(--white); */
  /* background-color: var(--black);
  border: 2px solid var(--black); */
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
